body {
  font-family: "Calibri", Arial, Helvetica;
  background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-black-background-texture-texture-advertising-background-backgroundbackgroundtemplatetexturetexture-image_68782.jpg);
}
h1 {
  color: rgb(204, 199, 199);
  text-align: center;
}
h2 {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}
h3 {
  color: whitesmoke;
  text-decoration: underline;
}
p {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times;
  font-size: 16px;
  font-style: oblique;
  text-align: justify;
}
.prueba {
  font-style: normal;
  font-size: 12px;
  text-align: justify;
}
ul li {
  list-style: square;
}
ol li {
  list-style: circle;
}

.bold {
  font-style: bold;
  font-style: normal;
  color: whitesmoke;
}

.bloque1 {
  background-color: rgba(138, 138, 126, 0.164);
  border: dashed 1px black;
  padding: 10px;
  margin-left: 70px;
  margin-bottom: 15px;
  width: 650px;
  height: 200px;
}

.bloque1 .img .contain {
  border: dashed 1px rgba(138, 138, 126, 0.164);
  padding: 10%;
  margin: 10%;
  height: 50%;
  width: 50%;
}

.bloque2 {
  background-color: rgba(8, 8, 8, 0.349);
  border: solid 0.5px black;
  padding: 10px;
  margin: auto;
  margin-left: 10px;
  margin-bottom: 15px;
  width: 800px;
  height: 300px;
}
.bloque2 .img .contain {
  border: dashed 1px rgba(138, 138, 126, 0.164);
  padding: 10%;
  margin: 10%;
  height: 50%;
  width: 50%;
}
